---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>
        Published on {
            new Date(frontmatter.pubDate).toLocaleString("es-AR", {
                timeZone: "UTC",
                year: "numeric",
            month: "numeric",
            day: "numeric",
        })
    }
</p>
<p>Written by: {frontmatter.author}</p>
<p><em>{frontmatter.description}</em></p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />
</BaseLayout>
